<div class="container">
  <h1 class="title">Blog Posts</h1>

  <% @blogs.each do |blog| %>
  <div class="blog-content">
    <h2 class="title"><%= blog.title %></h2>
    <div class="d-flex justify-content-evenly">
      <%= image_tag blog.image, class: "blog-image"%>
      <p><%= blog.content_preview %></p>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Read More", blog_path(blog), class: "button show-btn" %>
    </div>
    <p class="title">Find out more:</p>
    <p class="paragraph"><%= blog.url %></p>
</div>
<% end %>
