<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-around">
  <div>
    <% if user_signed_in? %>
      <div class="nav-item dropup">
  <i class="fa-regular fa-user" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">My Profile</a>
      <a class="dropdown-item" href="#">Add a facility</a>
      <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
</div>
  </div>
  <div>
  <%= link_to raw('<i class="fa-solid fa-map"></i>'), facilities_path, class: "navbar-brand" %>
</div>
  <div>
      <%= link_to raw('<i class="fa-regular fa-heart"></i>'), favourites_path, class: "navbar-brand" %>
  </div>
  <div>
      <%= link_to blogs_path, class: "navbar-brand" do %>
        <%= image_tag('notepad.png', alt: "notepad icon", style: "height: 20px; width: 20px;") %>
      <% end %>
  </div>
  <% else %>
    <div class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>
</div>
