<div class="map-large"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
  <ul>
  <% @facilities.each do |facility| %>
    <li><%= facility.name %></li>
    <li><%= facility.rating %></li>
    <li><%= facility.address %></li>
    <li><%= facility.opening_hours %></li>
    <%= link_to "Details", facility_path(facility), class: "button" %>
  <% end %>
  </ul>
</div>
<script>
  window.setTimeout(() => {
      document.querySelector(".mapboxgl-ctrl-geolocate").click();

    }, 200);
</script>
