<div class="container borderless my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 border">
      <h1>Add a new facility here:</h1>
        <%= simple_form_for @facility do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :opening_hours %>
          <%= f.label :toilet, "Are there bathrooms available?" %>
          <%= f.check_box :toilet, as: :boolean %>
          <%= f.label :sanitary_products, "Does it have free sanitary products available?" %>
          <%= f.check_box :sanitary_products, as: :boolean %>
          <%= f.label :baby_change, "Does the facility have a baby change?" %>
          <%= f.check_box :baby_change, as: :boolean %>
          <%= f.label :quiet_place, "Did this facility have a calm environment and a quiet place where you can retreat to?" %>
          <%= f.check_box :quiet_place, as: :boolean %>
          <%= f.label :education, "Is this facility a place of learning (e.g. offers workshops, courses, a museum)?" %>
          <%= f.check_box :education, as: :boolean %>
          <%= f.input :photo, as: :file %>
          <div class="d-flex justify-content-between">
          <%= f.submit class: "button" %>
        <% end %>
      <%= link_to 'Back', facilities_path, class: "button" %>
      </div>
    </div>
  </div>
</div>
