<div class="map-opaque"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<%# how to get the map location to display? %>

<div>
      <div class="facility-background-card">
        <div class="paragraph facility-white-card">
          <div class="facility-info-small-card">
            <h1><%= @facility.name %></h1>
            <h3><i class="fa-solid fa-star"></i><%= @facility.rating %></h3>
            <h3><%= @facility.address %></h3>
            <% if @facility.toilet %>
              <i class="fa-solid fa-toilet toilet large_icon"></i>
            <% end %>
            <% if @facility.sanitary_products %>
              <i class="fa-solid fa-person-dress sanitary-products large_icon"></i>
            <% end %>
            <% if @facility.baby_change %>
              <i class="fa-solid fa-baby baby-change large_icon"></i>
            <% end %>
            <% if @facility.quiet_place %>
              <i class="fa-solid fa-volume-xmark quiet large_icon"></i>
            <% end %>
            <% if @facility.education %>
              <i class="fa-solid fa-book education large-icon"></i>
            <% end %>
            <div>
              <h2 class="title mt-3">Reviews:</h2>
                  <h3><i class="fa-solid fa-star paragraph"></i><%= @review.rating %></h3>
                  <p class="paragraph text-wrap" style="width: 30rem;"><%= @review.comment %></p>
            </div class="d-flex justify-content-evenly">
              <%= link_to "take me there", "", class: "button show-btn" %>
              <%= link_to "create a review", new_facility_review_path(@facility), class: "button show-btn" %>
              <%# <%= link_to <i class="fa-solid fa-arrow-rotate-left"></i>, new_facility_review_path, class: "button" %>
          </div>
        </div>
      </div>

</div>
