  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Info</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Directions</button>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

    <div class="map-opaque"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" id='map'>
    </div>
    <div class="container">
      <div class="show-facility-background-card">
        <div class="paragraph show-facility-white-card">
          <div class="show-facility-info-small-card">
            <div class="d-flex justify-content-start">
              <div>
                <% if @facility.photo.attached? %>
                  url( '<%= cl_image_path @facility.photo.key, class: "show-small-card-img-top" %>' )
                <% else %>
                  <%= image_tag @facility.image, class: "show-small-card-img-top" %>
                <% end %>
              </div>

              <div class="show-facility-basic-info">
                <h1 class="title"><%= @facility.name %></h1>
                <h3>
                  <div class="stars" style="--rating: <%= @average %>;" aria-label="Rating of this product is <%= @average %> out of 5."></div>
                </h3>
                <h3 class="paragraph"><%= @facility.address %></h3>
                <div>
                <% if @facility.toilet %>
                  <i class="fa-solid fa-toilet toilet"></i>
                <% end %>
                <% if @facility.sanitary_products %>
                  <i class="fa-solid fa-person-dress sanitary-products"></i>
                <% end %>
                <% if @facility.baby_change %>
                  <i class="fa-solid fa-baby baby-change"></i>
                <% end %>
                <% if @facility.quiet_place %>
                  <i class="fa-solid fa-volume-xmark quiet"></i>
                <% end %>
                <% if @facility.education %>
                  <i class="fa-solid fa-book education"></i>
                <% end %>
              </div>
              </div>
            </div>
          </div>
            <div class="show-small-card-reviews">
              <h2 class="title">Reviews:</h2>
              <div class=  "d-flex justify-content-start">
              <% if @facility.reviews.empty? %>
              <p> currently no reviews... leave one here </p>
                <% else %>
                <%# <% @facility.reviews.each do |review| %>
                  <p class="paragraph text-wrap" style="width: 30rem;"><%= @facility.reviews.last.comment %></p>
                  <h5 class="d-flex"><%= @facility.reviews.last.rating %></h5><i class="fa-solid fa-star"></i>
                <%# <% end %>
              <% end %>
              </div>
            <div class="d-flex justify-content-center">
            <%= link_to "leave a review", new_facility_review_path(@facility), class: "button show-btn" %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div data-controller="map-large"
        data-map-large-markers-value="<%= @marker.to_json %>"
        data-map-large-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-url-value='<%= facilities_url %>'>
      <button data-action="click->map-large#navigateRoute">Navigate to here!</button>
      <div class="map-large" id= "map-large">
        <%# button with data action which triggers navigateRoute function %>
      </div>
    </div>

  </div>

</div>
