<div class="map-opaque"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<%# how to get the map location to display? %>

<div>
  <h3><%= @facility.name %></h3>
  <p><%= @facility.address %></p>
  <p><%= @facility.rating %> stars </p>
  <% if @facility.toilet %>
    <i class="fa-solid fa-toilet"></i>
  <% end %>
  <% if @facility.sanitary_products %>
    <i class="fa-solid fa-person-dress"></i>
  <% end %>
  <% if @facility.baby_change %>
    <i class="fa-solid fa-baby"></i>
  <% end %>
  <% if @facility.quiet_place %>
    <i class="fa-solid fa-volume-xmark"></i>
  <% end %>
  <% if @facility.education %>
    <i class="fa-solid fa-book"></i>
  <% end %>
</div>

<div>
  <% @facility.reviews.each do |review| %>
    <p><%= review.comment %></p>
    <p><%= 'â­ï¸' * review.rating %></p>
  <% end %>
</div>

<%= link_to "take me there", class: "button" %>
<%= link_to "create a review", new_facility_review_path(@facility), class: "button" %>
<%# <%= link_to <i class="fa-solid fa-arrow-rotate-left"></i>, new_facility_review_path, class: "button" %> %>

<%# <h3><%= back font awesome or little emoji that indicates this %>
