<div class="map-small"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
  <h2 class="title mt-3">Top rated facilities in your area:</h2>
    <% @facilities.each do |facility| %>
    <div class="d-flex">
      <div class="facility-background-card">
        <div class="paragraph facility-white-card">
          <h3><%= facility.name %></h3>
          <h4><i class="fa-solid fa-star"></i> <%= facility.rating %></h4>
          <h4 class="text-wrap" style="width: 18rem;"><%= facility.address %></h4>
            <% if facility.toilet %>
              <i class="fa-solid fa-toilet toilet"></i>
            <% end %>
            <% if facility.sanitary_products %>
              <i class="fa-solid fa-person-dress sanitary-products"></i>
            <% end %>
            <% if facility.baby_change %>
              <i class="fa-solid fa-baby baby-change"></i>
            <% end %>
            <% if facility.quiet_place %>
              <i class="fa-solid fa-volume-xmark quiet"></i>
            <% end %>
            <% if facility.education %>
              <i class="fa-solid fa-book education"></i>
            <% end %>
          <%= link_to "Details", facility_path(facility), class: "button" %>
        </div>
      </div>
      </div>
    <% end %>
</div>
