<div
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div id="geocoder" data-map-target="geocoder"></div>
    <div id="map" class="map-small"></div>
</div>
<div>
  <h2 class="title mt-3">Top rated facilities in your area:</h2>
  <div class="card-container my-1">
    <% @facilities.each do |facility| %>
      <div class="d-flex">
        <div class="facility-background-card">
          <div class="paragraph facility-white-card">
            <div data-controller="favourites">
              <% favourite = facility.favourites.find { |facility| facility.user == current_user  }%>
              <% if facility.favourites.find { |facility| facility.user == current_user  } %>
                  <%= link_to favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i data-favourites-target="solidHeart", data-action="click->favourites#unfavourite", class="fa-solid fa-heart colour-heart"></i>
                <% end %>
                <% else %>
                  <%= link_to facility_favourites_path(facility), data: { turbo_method: :post} do %>
                  <i data-favourites-target="clearHeart", data-action="click->favourites#favourite", class="fa-regular fa-heart heart"></i>
                <% end %>
              <% end %>
            </div>
            <h1><%= facility.name %></h1>
            <h4>
              <% reviews = facility.reviews %>
                <% if !reviews.empty? %>
                  <% ratings = reviews.map{|review| review.rating} %>
                  <% average = (ratings.sum / ratings.count).floor(1) %>
                <% end %>
              <div class="stars" style="--rating: <%= average %>;" aria-label="Rating of this product is <%= average %> out of 5."></div>
            </h4>
            <h3 class="text-wrap" style="width: 18rem;"><%= facility.address %></h3>
              <div class="card-bottom">
                <div class="card-icons">
                  <% if facility.toilet %>
                    <i class="fa-solid fa-toilet toilet large_icon"></i>
                  <% end %>
                  <% if facility.sanitary_products %>
                    <i class="fa-solid fa-person-dress sanitary-products large_icon"></i>
                  <% end %>
                  <% if facility.baby_change %>
                    <i class="fa-solid fa-baby baby-change large_icon"></i>
                  <% end %>
                  <% if facility.quiet_place %>
                    <i class="fa-solid fa-volume-xmark quiet large_icon"></i>
                  <% end %>
                  <% if facility.education %>
                    <i class="fa-solid fa-book education large_icon"></i>
                  <% end %>
                </div>
                <div class="card-button">
                  <%= link_to "Details", facility_path(facility), class: "button" %>
                </div>
            </div>
          </div>
        </div>
        </div>
    <% end %>
  </div>
</div>
