<div>
  <h3>Been to <%= @facility.name %>? Write a review...</h3>
  <%= simple_form_for [@facility, @review] do |f| %>
    <%= f.input :comment, label: false, placeholder: "comment here..." %>
    <%= f.input :rating, collection: 0..5, label: "rate your experience", placeholder: "leave a rating..." %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
